

html {
    scroll-behavior: smooth;
  }

body{
    background-color: gainsboro;
}

header{
    text-align: center;
}

.art-container{
    border-left: 10px solid gray;
    border-bottom: 10px solid gray;
    border-top: 10px solid gray;
    /* border-radius: 7px; */
    margin: 20px 20px;
    padding: 60px;
    /* width: 20%; */
    /* float: left; */

}
.art-container img{
    width: 400px;
    height: 400px;
    margin-right: 20px;
    opacity: 0.8;
}

.art-container img:hover{
    box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.75);
    opacity: 1;

}

.button:hover{
    font-size: bold;
    color: crimson;

}
